<html>  
	<body>  
		<form action="/Controller/approvedCV" method="POST">
			Candidate Email: <input type="email" name="email">
			Question Type: <input type="text" name="questionType">
			<input type="submit" value="Submit">  
		</form>
	</body>  
</html>  