<html>  
	<body>  
		<form action="/Controller/approvedCV" method="POST">
			Confirm Candidate Email: <input type="email" name="email">
			Question Type: <input type="text" name="questionType">
			<a href="/See_all_cvs">Back</a>
			<input type="submit" value="Submit">  
		</form>
	</body>  
</html>  