<!DOCTYPE html>
<html>
<head>
	<title>USER EXAM</title>
</head>
<body>
	<h1><%= welcome%></h1>
	<a href="/welcome">Logout</a>
	<a href="/USER-Home">Back</a>
	<a href="/<%=exam_link%>"><%=exam_link%></h1>
</body>
</html>