<!DOCTYPE html>
<html>
<head>
	<title>USER HOME</title>
</head>
<body>
	<h1><%= welcome%></h1>
	<a href="/welcome">Logout</a>

	<form action="/Controller/userExam" method="POST"> 
		<input type="submit" value="show_exam">  
	</form>

</body>
</html>