<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<div>
			<h1>WELCOME</h1>
			<h2>Online Testing</h2>
			<div>
				<div>
					<form name = "HR" action="/register_hr">
						<input type="submit" value="HR">
					</form>
				</div>
				
				<div>
					<form name = "Candidate" action="/register_user">
						<input type="submit" value="Candidate">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>