<html>  
	<head>
		<title>Register</title>
		<meta charset="UTF-8">
	</head>
	<body>  
		<form name = "register-form" action="/controllers/hr-register-controller" method="POST" onsubmit="return validateForm()">  
			Name: <input type="text" name="name" id="name"><br>
			Phone: <input type="number" name="phone"><br>
			Email: <input type="email" name="email"><br>
			Password: <input type="password" name="password"><br>
			<input type="submit" value="submit">
		</form>
		<form name = "register-form" action="/View/login.html">  
			I have registered before
			<input type="submit" value="login">
		</form>
		
		<script>
			function validateForm() {
			  var name = document.forms["register-form"]["name"].value;
			  var email = document.forms["register-form"]["email"].value;
			  var password = document.forms["register-form"]["password"].value;
			  if (name == "") {
			    alert("Name must be filled out");
			    return false;
			  }
			  if (email == "") {
			    alert("Email must be filled out");
			    return false;
			  }
			  if (password == "") {
			    alert("Password must be filled out");
			    return false;
			  }
			}
		</script>
	</body>  	
</html>  